
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  margin: 10px;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
