
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.App {
  text-align: center;
}

/* header */

.app-header {
  background-color: #000000;
  min-height: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
}

#logo {
  display: flex;
  flex-direction: row;
}

.app-logo {
  height: 7vmin;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.logo-text {
  margin-top: 30px;
  margin-left: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-self: right;
}



/* booklet */

#booklet {
  display: flex;
  justify-content: space-evenly;
}

.forms-container {
  display: flex;
  flex-flow: column wrap;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  max-height: 40px;
  flex-wrap: wrap;
}

.booklet-title {
  display: flex;
}

.page-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

/* mobile preview */

.mobile-container {
  position: relative;    
  padding-top: 2vh;
}

.mobile-preview {
  max-height: 70vh;
}

.mobile-preview-content {
  max-height: 57vh;
  width: 28.5vh;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 61px;
  left: 2.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.cover-image {
  object-fit: contain;
  max-width: 28vh;
  padding-right: 1.1em;
  display: block;
  margin: 0 auto;
}

.page-heading {
  margin: 0px;
}

.mobile-sub-heading {
  margin: 0px;
}

.purple {
  color: #9e9afc;
}

.preview-section {
  margin-bottom: 50px;
}

.link-image {
  width: 4em;
  height: 4em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.link-image a:hover, a:focus {
  cursor: pointer;
}

/* loader */

.lds-ring {
  display: flex;
  align-content: center;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
