
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.App {
  text-align: center;
}

/* header */

.app-header {
  background-color: #000000;
  min-height: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
}

#logo {
  display: flex;
  flex-direction: row;
}

.app-logo {
  height: 7vmin;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.logo-text {
  margin-top: 30px;
  margin-left: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-self: right;
}



/* booklet */

#booklet {
  display: flex;
  justify-content: space-evenly;
}

.forms-container {
  display: flex;
  flex-flow: column wrap;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  max-height: 40px;
  flex-wrap: wrap;
}

.booklet-title {
  display: flex;
}

.page-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

/* mobile preview */

.mobile-container {
  position: relative;    
}

.mobile-preview {
  max-width: 400px;
  max-height: 100vh;
}

.mobile-preview-content {
  max-width: 349px;
  max-height: 660px;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 10px;
  left: 10px;
  margin-top: 50px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.cover-image {
  object-fit: fill;
  max-width: 316px;
  margin: 0px;
  padding: 0px;
}

.page-heading {
  margin: 0px;
}

.mobile-sub-heading {
  margin: 0px;
}

.purple {
  color: #9e9afc;
}

.preview-section {
  margin-bottom: 50px;
}


